$main-font: "Nunito";
$font-weight: 400;

$heading-font-size: 40px;
$body-font-size: 16px;
$bottom-label: 12px;

$heading-line-height: 1;
$body-line-height: 1.625;
$bottom-label-lh: 1.17;

$colors: (
  "primary": #f4e041,
  "secondary": #00bdd3,
  "background": #f8f8f8,
  "hover": #ffe302,
  "disabled": #b4b4b4,
  "black": rgba(0, 0, 0, 0.87),
  "white": #ffffff,
  "error": #cb3d40,
  "input-border": #d0cfcf,
  "placeholder": #7e7e7e,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$opacity-value: 0.87;

$card-border-radius: 10px;
$button-border-radius: 80px;
$input-border-radius: 4px;

$card-p: 20px;
$card-m: 20px;
