.header {
  padding: 13px 0;

  &__thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  & .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
